#!/usr/bin/bash

# Configure these!
PORT=
DOMAIN=
GH_APP_ID=
PKEY_PATH=
GH_INSTALL_ID=


./ngrok http 127.0.0.1:$PORT --domain=$DOMAIN > /dev/null &

.lake/build/bin/server \
  --port $PORT \
  --gh-app-id $GH_APP_ID \
  --pkey $PKEY_PATH \
  --gh-install-id $GH_INSTALL_ID

wait
